body{
    background-color:rgb(135, 181, 238);
}
#tarjeta{
    background-color:rgb(255, 241, 241);
}
#tabla{
    border-collapse: collapse; 
    width: 100%;
    border-color: rgb(205, 30, 236);
    border: 5px solid rgb(234, 50, 151) ;
}
th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 4px solid rgb(234, 50, 151);
 }